In [2]:
import pandas as pd
import numpy as np
data = pd.read_csv('water_potability.csv')

In [3]:
data.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2785 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          2495 non-null   float64
 5   Conductivity     3276 non-null   float64
 6   Organic_carbon   3276 non-null   float64
 7   Trihalomethanes  3114 non-null   float64
 8   Turbidity        3276 non-null   float64
 9   Potability       3276 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 256.1 KB

In [5]:
data.describe()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
count,2785.000000,3276.000000,3276.000000,3276.000000,2495.000000,3276.000000,3276.000000,3114.000000,3276.000000,3276.000000
mean,7.080795,196.369496,22014.092526,7.122277,333.775777,426.205111,14.284970,66.396293,3.966786,0.390110
std,1.594320,32.879761,8768.570828,1.583085,41.416840,80.824064,3.308162,16.175008,0.780382,0.487849
min,0.000000,47.432000,320.942611,0.352000,129.000000,181.483754,2.200000,0.738000,1.450000,0.000000
25%,6.093092,176.850538,15666.690297,6.127421,307.699498,365.734414,12.065801,55.844536,3.439711,0.000000
50%,7.036752,196.967627,20927.833607,7.130299,333.073546,421.884968,14.218338,66.622485,3.955028,0.000000
75%,8.062066,216.667456,27332.762127,8.114887,359.950170,481.792304,16.557652,77.337473,4.500320,1.000000
max,14.000000,323.124000,61227.196008,13.127000,481.030642,753.342620,28.300000,124.000000,6.739000,1.000000

In [6]:
# Imputation with mean applied to fill missing values
data_imputed= data.fillna(data.mean())
data_imputed.describe()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
count,3276.000000,3276.000000,3276.000000,3276.000000,3276.000000,3276.000000,3276.000000,3276.000000,3276.000000,3276.000000
mean,7.080795,196.369496,22014.092526,7.122277,333.775777,426.205111,14.284970,66.396293,3.966786,0.390110
std,1.469956,32.879761,8768.570828,1.583085,36.142612,80.824064,3.308162,15.769881,0.780382,0.487849
min,0.000000,47.432000,320.942611,0.352000,129.000000,181.483754,2.200000,0.738000,1.450000,0.000000
25%,6.277673,176.850538,15666.690297,6.127421,317.094638,365.734414,12.065801,56.647656,3.439711,0.000000
50%,7.080795,196.967627,20927.833607,7.130299,333.775777,421.884968,14.218338,66.396293,3.955028,0.000000
75%,7.870050,216.667456,27332.762127,8.114887,350.385756,481.792304,16.557652,76.666609,4.500320,1.000000
max,14.000000,323.124000,61227.196008,13.127000,481.030642,753.342620,28.300000,124.000000,6.739000,1.000000

In [7]:
features = data_imputed.drop(columns='Potability')
train_data = features[:3000].values
train_labels = data_imputed.Potability[:3000].values
test_data = features[3000:].values
test_labels = data_imputed.Potability[3000:].values

In [8]:
train_data.shape

(3000, 9)

In [9]:
# feature scaling using zscore normalization
def zscore_normalize_features(X):
    mu     = np.mean(X, axis=0)                 # mu will have shape (n,)
    sigma  = np.std(X, axis=0)                  # sigma will have shape (n,)
    X_norm = (X - mu) / sigma      

    return (X_norm, mu, sigma)

In [10]:
# normalize the original features
X_norm, X_mu, X_sigma = zscore_normalize_features(train_data)
print(f"X_mu = {X_mu}, \nX_sigma = {X_sigma}")

X_mu = [7.06628978e+00 1.96529290e+02 2.19517164e+04 7.12153221e+00
 3.33669623e+02 4.26423569e+02 1.42910863e+01 6.64646160e+01
 3.96759160e+00],
X_sigma = [1.44927093e+00 3.26415393e+01 8.63118610e+03 1.61915694e+00
 3.67120273e+01 8.07915334e+01 3.31966877e+00 1.57050553e+01
 7.82335108e-01]

In [11]:
# the sigmoid function 
def sigmoid(z):
    return 1/(1 + np.exp(-z))

In [12]:
sigmoid(np.array([-1, 0,1, 2]))

array([0.26894142, 0.5       , 0.73105858, 0.88079708])

In [13]:
# cross-entropy cost with regularization
def compute_cost(X, y, w, b, lambda_=1):
    m, n = X.shape
    f = sigmoid(X@w + b)
    loss = np.dot(-y, np.log(f)) - np.dot((1-y), np.log(1-f))
    reg_cost = np.sum((w**2) * (lambda_/(2*m)))
    total_cost = np.sum(loss)/m + reg_cost
    return total_cost   #scalar cost

In [14]:
m, n = train_data.shape
initial_w = np.zeros(n)
initial_b = 0.
cost = compute_cost(train_data, train_labels, initial_w, initial_b)
print('Cost at initial w and b (zeros): {:.3f}'.format(cost))

Cost at initial w and b (zeros): 0.693

In [15]:
# computing the gradient with regularization
def compute_gradient(X, y, w, b, lambda_=1):
    m, n = X.shape
    f = sigmoid(X@w + b)
    dj_dw = np.dot((f - y), X) + w*lambda_/m
    dj_db = np.sum(f-y)
    return dj_db/m, dj_dw/m

In [16]:
# gradient descent and learning params
def gradient_descent(X, y, w_in, b_in, cost_function, gradient_function, alpha, num_iters, lambda_):
    m = len(X)
    for i in range(num_iters):
        dj_db, dj_dw = gradient_function(X, y, w_in, b_in, lambda_)  

        w_in = w_in - alpha * dj_dw               
        b_in = b_in - alpha * dj_db  
    return w_in, b_in

In [17]:
iterations = 100000
alpha = 0.001
lambda_ = 0.01
initial_b = 1.
initial_w = np.zeros(X_norm.shape[1])

In [18]:
w_final, b_final = gradient_descent(X_norm, train_labels, initial_w, initial_b, compute_cost, compute_gradient, alpha, iterations, lambda_)
print(f"b,w found by gradient descent: {b_final:0.2f},{w_final} ")

b,w found by gradient descent: -0.52,[ 0.00967967 -0.03997593  0.06730335  0.06510786 -0.03680491 -0.03368314
 -0.04599215  0.02336323  0.00630771]

In [27]:
# predictor
def predict(data, threshold):
    data = (data - X_mu) / X_sigma
    z = data @ w_final + b_final
    f = sigmoid(z)
    f = np.where(f>= threshold, 1, 0 )
    return f

In [28]:
def f1_score(y_true, y_pred):
    true_positives = np.sum((y_true == 1) & (y_pred == 1))
    false_positives = np.sum((y_true == 0) & (y_pred == 1))
    false_negatives = np.sum((y_true == 1) & (y_pred == 0))

    precision = true_positives / (true_positives + false_positives + 1e-10)
    recall = true_positives / (true_positives + false_negatives + 1e-10)

    f1 = 2 * (precision * recall) / (precision + recall + 1e-10)
    return f1

In [36]:
thresholds = np.arange(0.1, 1.0, 0.1)
best_threshold = None
best_f1 = 0

for threshold in thresholds:
    p = predict(test_data, threshold)
    f1 = f1_score(test_labels, p)  # Calculate F1 score
    
    if f1 > best_f1:
        best_f1 = f1
        best_threshold = threshold

print("Best Threshold:", best_threshold)
print("Best F1 Score:", best_f1)

Best Threshold: 0.1
Best F1 Score: 0.7310344827119016